.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card img {
    width: 140px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }